<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976432902054-e8a6ahlhe19jk3vnslh5g3e6djc9d4pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976432902054-e8a6ahlhe19jk3vnslh5g3e6djc9d4pi</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Qu1Oji3aCFWPOcNZIYOW2WE9kEBHpLA</string>
	<key>GCM_SENDER_ID</key>
	<string>976432902054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cheetah-Dev.Heavy-Duty-vehicle-Assistor</string>
	<key>PROJECT_ID</key>
	<string>heavy-duty-vehicle-assistor</string>
	<key>STORAGE_BUCKET</key>
	<string>heavy-duty-vehicle-assistor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976432902054:ios:25aeee7eee433028</string>
	<key>DATABASE_URL</key>
	<string>https://heavy-duty-vehicle-assistor.firebaseio.com</string>
</dict>
</plist>